@font-face {
  font-family: 'iconfont';  /* Project id 2975269 */
  src: url('//at.alicdn.com/t/font_2975269_y3ns8xrebqa.woff2?t=1640596097390') format('woff2'),
       url('//at.alicdn.com/t/font_2975269_y3ns8xrebqa.woff?t=1640596097390') format('woff'),
       url('//at.alicdn.com/t/font_2975269_y3ns8xrebqa.ttf?t=1640596097390') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

