@font-face {
  font-family: 'iconfont';  /* Project id 2975269 */
  src: url('//at.alicdn.com/t/font_2975269_lwurpeurd8.woff2?t=1646129698018') format('woff2'),
       url('//at.alicdn.com/t/font_2975269_lwurpeurd8.woff?t=1646129698018') format('woff'),
       url('//at.alicdn.com/t/font_2975269_lwurpeurd8.ttf?t=1646129698018') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

