@font-face {
  font-family: 'iconfont';  /* Project id 2975269 */
  src: url('//at.alicdn.com/t/font_2975269_s5oz9qkooso.woff2?t=1643439412855') format('woff2'),
       url('//at.alicdn.com/t/font_2975269_s5oz9qkooso.woff?t=1643439412855') format('woff'),
       url('//at.alicdn.com/t/font_2975269_s5oz9qkooso.ttf?t=1643439412855') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

